@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
:root{
  --azul: #4a85b0;
  --azul-texto: #314163;
  --branco: #ffffff;
  --blue-light : #a3c6da;
  --fundo-tres: #e7f8ff;
  --azul-botao: #4a85af;
}



.artigo{
  color: var(--azul-texto);
}
.back {
  display: inline-block;
  width: 100%;
  margin: 50px 0;
}
.back a {
  text-decoration: none;
  color: var(--azul-texto);
}

.artigo h1 {
  font-size: 50px; 
  margin-bottom: 35px; 
}

.artigo h2 {
  font-size: 35px; 
  margin-bottom: 30px;
}
.artigo h3 {
  font-size: 22px; 
  margin-bottom: 10px;
}
.artigo div {
  margin-bottom: 10px;
}

.artigo div span {
  font-size: 19px;
}
h1, h2, h3, span{ 
word-wrap: break-word !important;
}

.blue-light,   .branco{
  font-family: 'Rozha One', serif;
 }

