@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
:root{
  --azul: #4a85b0;
  --azul-texto: #314163;
  --branco: #ffffff;
  --blue-light : #a3c6da;
  --fundo-tres: #e7f8ff;
  --azul-botao: #4a85af;
}



.artigo{
  color: var(--azul-texto);
}
.back {
  display: inline-block;
  width: 100%;
  margin: 50px 0;
}
.back a {
  text-decoration: none;
  color: var(--azul-texto);
}

.artigo h1 {
  font-size: 50px; 
  margin-bottom: 35px; 
}

.artigo h2 {
  font-size: 35px; 
  margin-bottom: 30px;
}
.artigo h3 {
  font-size: 22px; 
  margin-bottom: 10px;
}
.artigo div {
  margin-bottom: 10px;
}

.artigo div span {
  font-size: 19px;
}
h1, h2, h3, span{ 
word-wrap: break-word !important;
}

.blue-light,   .branco{
  font-family: 'Rozha One', serif;
 }
 /*Formulario*/
.container {
    grid-area: form;
    background-color: var(--fundo-tres);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  form .header h2{
    font-size: 26px;
    margin: 20px 0;
  }
  
  form {
    border: 1px solid var(--azul-texto);
    color: var(--azul-texto);
    border: 1px solid var(--azul-texto);  
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    row-gap: 10px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .form-control label {
    font-size: 22px;
  }
  
  .form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
  }
  
  .button-textup {
    font-size: 22px;
  }
  
  .upload-button {
    background-color: var(--azul-botao);
    color: var(--branco);
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    margin-top: 12px;
  }
  
  .button-text {
    font-size: 14px;
  }
  
  .submit-button {
    background-color: #314163;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
    width: 165px;
    height: 40px;
    font-size: 19px;
    margin-top: 40px;
    margin-left: 350px;
  }
  