@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
:root{
  --azul: #4a85b0;
  --azul-texto: #314163;
  --branco: #ffffff;
  --blue-light : #a3c6da;
  --fundo-tres: #e7f8ff;
  --azul-botao: #4a85af;
}



.artigo{
  color: var(--azul-texto);
}
.back {
  display: inline-block;
  width: 100%;
  margin: 50px 0;
}
.back a {
  text-decoration: none;
  color: var(--azul-texto);
}

.artigo h1 {
  font-size: 50px; 
  margin-bottom: 35px; 
}

.artigo h2 {
  font-size: 35px; 
  margin-bottom: 30px;
}
.artigo h3 {
  font-size: 22px; 
  margin-bottom: 10px;
}
.artigo div {
  margin-bottom: 10px;
}

.artigo div span {
  font-size: 19px;
}
h1, h2, h3, span{ 
word-wrap: break-word !important;
}

.blue-light,   .branco{
  font-family: 'Rozha One', serif;
 }
 /*laptop*/
@media screen and (min-width: 1025px) {
    .layout{
      margin: 0 auto;
      align-self: center;      
      width: 1170px;
      height: auto;
      display: grid;
      grid-template-columns: repeat(12, 73px);
      grid-template-rows:repeat(5, 1fr);
      padding: 0 15px;
      column-gap: 24px;
  
      grid-template-areas:
      "arti arti arti arti arti arti img img img img img img"
      "arti arti arti arti arti arti img img img img img img"
      "form form form form form form img img img img img img"
      "form form form form form form img img img img img img"
      "form form form form form form img img img img img img"
      ;
  }
   
  .menutopo{
      background-color: #4a85af;
      width: 100vw;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
  }
  
  
  .menutopo nav, .content-footer{
      width: 1170px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  .menutopo nav ul{
      list-style: none;
      display: flex;
      gap: 10px;
      padding: 20px;
  }
  .logo{
    font-size: 2rem;
    margin-left: 15px;    
  }
  .blue-light {
      color: #a3c6da;
      font-family: 'Rozha One', serif; 
    }
    .white {
      color: #fff; 
      font-family: 'Rozha One', serif;
  }
  
  .artigo{
       grid-area: arti;
       color: #314163;
  }
  .back{
      display: block;
      margin: 50px 0;
      font-size: 20px;
  }
  .back a{
      text-decoration: none;
      color: #314163;
  }
  .artigo h1{
      font-size: 50px;
      margin-bottom: 35px;
  }
  .artigo h2{
      font-size: 35px;
      margin-bottom: 30px;
  }
  .artigo div{
      margin-bottom: 30px;
  }
  .artigo h3{
      font-size: 22px;
      margin-bottom: 10px;
  }
  .artigo div span{
      font-size: 19px;
  }
  .formulario{
      grid-area: form;
      background-color:  rgb(255, 255, 255);
      
  }
  .column{
      grid-area: img;
      margin-top: 10px;
      width: 240px;
      margin-left: 300px;
      height: 1620px;
      position: relative;
      
  }
 
   .container {
    grid-area: form;
    background-color: var(--fundo-tres);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  form .header h2{
    font-size: 26px;
    margin: 20px 0;
  }
  
  form {
    border: 1px solid var(--azul-texto);
    color: var(--azul-texto);
    border: 1px solid var(--azul-texto);  
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    row-gap: 10px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .form-control label {
    font-size: 22px;
  }
  
  .form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
  }
  
  .side-by-side{
    display: flex;
    gap: 15px;
  }
  
  .button-textup {
    font-size: 22px;
  }
  
  .upload-button {
    background-color: var(--azul-botao);
    color: var(--branco);
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    margin-top: 12px;
  }
  
  .button-text {
    font-size: 14px;
  }
  
  .submit-button {
    background-color: var(--azul-texto);
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
    width: 165px;
    height: 40px;
    font-size: 19px;
    margin-top: 40px;
    margin-left: 350px;
  }
  
  .column {
    grid-area: img;
    background-color: var(--azul-texto); 
    margin-top: 125px;
    padding: 10px 
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: -100px;
    width: 390px;
    height: 390px;
    z-index: 2; 
  }
  
  .image-overlay img {
    width: 100%; 
    height: auto; 
    margin-top: 450px;
  }

  footer{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
  }
  .rodape {
    background-color: #4a85af;
    padding: 20px 0; 
  }
  
  .Copyright {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    text-align: right; 
    margin-right: 50px;
    float: right;
  }
  }

/*mobile*/
@media screen and (max-width: 767px) {
    main, .artigo, .formulario, .column, .layout{
      max-width: 100vw;
    }
    .layout{
    align-self: center;      
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3, auto);
    padding: 0 15px;
    grid-template-areas:
    "img"
    "arti"
    "form"
    ;}
  
    .menutopo{
      width: 100vw;
      background-color: var(--azul);
      color: var(--branco);
    }
    
    .menutopo nav ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menutopo nav ul li{
        text-align: center;
        width: 100%;
        padding: 5px;
        border-top: 2px solid #00000050;
    }
    
    .menutopo nav ul li:hover{
        background-color:rgba(255, 255, 255,.5);
    }
  
    .logo{
        font-size: 2rem;
        margin-left: 15px;
        text-align: center;
    }
    
     .blue-light {
        color: var(--blue-light);
    }
    .artigo{
      grid-area: arti;
    }
    .column{
      grid-area: img;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      width: 80vw;
    }
  
  .container {
    grid-area: form;
    background-color: var(--fundo-tres);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  form .header h2{
    font-size: 26px;
    margin: 20px 0;
  }
  
  form {
    border: 1px solid var(--azul-texto);
    color: var(--azul-texto);
    border: 1px solid var(--azul-texto);  
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    row-gap: 10px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .form-control label {
    font-size: 22px;
  }
  
  .form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
  }
  
  .button-textup {
    font-size: 22px;
  }
  
  .upload-button {
    background-color: var(--azul-botao);
    color: var(--branco);
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    margin-top: 12px;
  }
  
  .button-text {
    font-size: 14px;
  }
  
  .submit-button {
    background-color: #314163;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
    width: 165px;
    height: 40px;
    font-size: 19px;
    margin-top: 40px;
    margin-left: 350px;
  }

  footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    padding: 20px 0; 
  }

  .content-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Copyright {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    color: var(--branco); 
    text-align: center;
  }
  }
  
  